<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:cadetblue;">

<nav class="navbar navbar-expand-sm text-white navbar-dark" style="background-color: darkblue;">
  <!-- Brand -->
 <h1><a class="navbar-brand" href="#">Shopping cart</a></h1>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/index">Home</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li> -->

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Search by categories
      </a>
      <div class="dropdown-menu">
        <% for(var i=0;i<categories.length;i++){ %>
          
        <a class="dropdown-item" href="<%= categories[i].link %>"><%= categories[i].item %></a>
          <% } %>
      </div>
    </li>
  </ul>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col">
        <!-- <div class="p-3 mb-2 bg-secondary text-white" style="max-width: 100%;"><h1>Shopping cart</h1></div> -->
        <div class="jumbotron">
            <h1 class="display-4">Welcome...</h1>
            <p class="lead">Enjoy your shopping</p>
            <hr class="my-4">
            <p>Get the best offers on mobile,laptop,books</p>
            
          </div>
    </div>
  </div>
</div>


</body>
</html>
